* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #efd7bf;
}
header {
  width: 100%;
  padding-block: 1 rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3B1717;
  box-shadow: 0 2px 4px #ecb176;
  top: 0;
}
header .logo img {
  width: 50px;
  margin-left: 50px;
}
nav li {
  display: flex;
  list-style-type: none;
}
nav ul {
  padding-inline: 4rem;
  justify-content: center;
  display: flex;
  gap: 2rem 1rem;
}
nav ul li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
nav ul li:hover a {
  background-color: #ecb176;
  color: #ffedde;
}

.hero {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
}
.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(0%, -50%);
  transition: all ease 0.3s;
}

.hero-content h1{
  font-size: 60px;
  margin: 0;
  font-weight: 900;
  text-align: left;
}

.explore {
  text-align: left;
}

.explore button {
  cursor: pointer;
  margin: 1rem;
  color: white;
  letter-spacing: 2px;
  border: none;
  background-color: #3B1717;
  border-radius: 30px;
  width: 120px;
  height: 50px;
}

.explore button:hover {
  background-color: #412b2b;
}

.picture p {
  margin: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.picture a {
  color: black;
  cursor: pointer;
}

@media (max-width: 1090px) {
  .hero-content h1 {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .hero_content {
    background-color: #ffedde;
    width: 400px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .explore {
    text-align: center;
  }
}

.products-section {
    padding: 20px;
    text-align: center;
}

.products-section h2 {
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}