* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #efd7bf;
}
header {
    width: 100%;
    padding-block: 1 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B1717;
    box-shadow: 0 2px 4px #ecb176;
    top: 0;
}

header .logo img {
    width: 50px;
    margin-left: 50px;
}

nav li {
    display: flex;
    list-style-type: none;
}

nav ul {
    padding-inline: 4rem;
    justify-content: center;
    display: flex;
    gap: 2rem 1rem;
}

nav ul li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

nav ul li:hover a {
    background-color: #ecb176;
    color: #ffedde;
}